body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
.wizard-v1-content   {
	background: #fff;
	width: 851px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 60px 0;
	font-family: 'Raleway', sans-serif;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.wizard-v1-content .wizard-form {
	width: 100%;
	padding: 15px 25px;
}
.wizard-form .wizard-header h3 {
	color: #333;
	font-size: 36px;
	font-weight: 800;
	margin: 0;
}
.wizard-form .wizard-header p {
	color: #666;
	font-size: 16px;
	font-weight: 600;
	margin: 6px 0 26px;
}

.form-register .content.clearfix {
	background-color: #f5f6fa;
}

.form-register .content {
	background: #359bfa;
	border-radius: 5px;
	-o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 32px 75px 23px 75px;
}

@media screen and (max-width: 1199px) {
	.form-register .content {
	    padding: 32px 75px 23px 75px;
	}
}

@media screen and (max-width: 575px) {
	.wizard-v1-content .wizard-form {
	    padding: 40px 20px;
	    width: auto;
	}
	.form-register .content {
	    padding: 32px 30px 23px 30px;
	}
	.form-register .steps li, .form-register .steps li.current {
		padding-right: 5px;
	}
	.form-register .steps li::before {
		width: 65px;
		top: 15%;
    	left: 70%;
	}
	.form-register .steps li.current::after {
		left: 28%;
	}
} 

.form-register .steps {
	margin-bottom: 33px;
}
.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    list-style: none;
    padding-left: 0;
}
.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    position: relative;
    padding-bottom: 3px;
    padding-right: 63px;
}
.form-register .steps li:last-child {
	padding-right: 0;
}
.form-register .steps li .current-info {
	display: none;
}
.form-register .steps li::before {
	position: absolute;
    content: "";
    background: #e5e5e5;
    width: 166px;
    height: 6px;
    top: 15%;
    left: 38%;
}
.form-register .steps li:last-child::before {
	content: none;
}
.form-register .steps li.current::after {
	position: absolute;
	content: "";
	width: 45px;
	height: 3px;
	background: #ccc;
	top: 100%;
	left: 25%;
}
.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a .title {
	text-align: center;
}
.form-register .steps li a .title span {
	display: block;
	font-size: 16px;
}
.form-register .steps li a .title .step-icon { 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ccc;
    margin: 0 auto;
    position: relative;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    color: #fff;
    font-size: 20px;
}
.form-register .steps li a .step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon,
.form-register .steps .done::before,
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
    background: #6eba2a;
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon {
	box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
}
.form-register .steps li a .step-number {
	color: #666;
	font-weight: 400;
    padding: 17px 0 8px;
}
.form-register .steps li a .step-text {
	color: #333;
	font-weight: 600;
	padding-bottom: 8px;
}

.actions ul {
	list-style: none;
	padding-left: 0;
    margin: 15px 0 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.actions ul li.disabled {
	opacity: 0;
}
.actions ul li {
	padding: 0;
    border: none;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.19);
    display: inline-flex;
    height: 50px;
    /* width: 50px; */
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #6eba2a;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.actions ul li:hover {
	background: #5fa125;
}
.actions ul li:first-child {
	background: transparent;
	border-radius: 0;
	-o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
	box-shadow: none;
	-o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.actions ul li a {
	color: #fff;
	text-decoration: none;
    padding: 15px 18px;
}
.actions ul li:first-child a {
	color: #666;
	text-decoration: underline;
}
.actions ul li a i {
	font-size: 18px;	
}
.actions ul li a i.step-back {
	font-size: 15px;
}


#multiSteps {
	max-width: 700px;
	width: 100%;
	margin: 0px auto;
	padding: 40px;
}
#multiSteps .form-header {
	gap: 5px;
	text-align: center;
	font-size: .9em;
}
#multiSteps .form-header .stepIndicator {
	position: relative;
	flex: 1;
	padding-bottom: 30px;
}
#multiSteps .form-header .stepIndicator.active {
	font-weight: 600;
}
#multiSteps .form-header .stepIndicator.finish {
	font-weight: 600;
	color: #009688;
}
#multiSteps .form-header .stepIndicator::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 9;
	width: 20px;
	height: 20px;
	background-color: #8ab3d8;
	border-radius: 50%;
	border: 3px solid #ecf5f4;
}
#multiSteps .form-header .stepIndicator.active::before {
	background-color: #0396ff;
	border: 3px solid #d5f9f6;
}
#multiSteps .form-header .stepIndicator.finish::before {
	background-color: #009688;
	border: 3px solid #b7e1dd;
}
#multiSteps .form-header .stepIndicator::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 8px;
	width: 100%;
	height: 3px;
	background-color: #0396ff;
}
#multiSteps .form-header .stepIndicator.active::after {
	background-color: #9d9d9da1;
}
#multiSteps .form-header .stepIndicator.finish::after {
	background-color: #009688;
}

#multiSteps .form-header .stepIndicator:last-child:after {
	display: none;
}
#multiSteps input {
	padding: 15px 20px;
	width: 100%;
	font-size: 1em;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
}
#multiSteps input:focus {
	border: 1px solid #009688;
	outline: 0;
}
#multiSteps input.invalid {
	border: 1px solid #ffaba5;
}
#multiSteps .step {
  display: none;
}
#multiSteps .form-footer{
	overflow:auto;
	gap: 20px;
}
#multiSteps .form-footer button{
	background-color: #009688;
	border: 1px solid #009688 !important;
	color: #ffffff;
	border: none;
	padding: 13px 30px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	flex: 1;
	margin-top: 5px;
}
#multiSteps .form-footer button:hover {
  opacity: 0.8;
}

#multiSteps .form-footer #prevBtn {
	background-color: #fff;
	color: #009688;
}

.custom label.error {
	font-size: 16px;
	font-weight: 500;
	color: red;
	padding-bottom: 11px;
	display: block;
}

